@import url("https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 221.2 58% 97%;
  --foreground: 221.2 5% 10%;
  --card: 221.2 50% 97%;
  --card-foreground: 221.2 5% 15%;
  --popover: 221.2 58% 97%;
  --popover-foreground: 221.2 95% 10%;
  --primary: 221.2 83.2% 53.3%;
  --primary-foreground: 0 0% 100%;
  --secondary: 221.2 30% 90%;
  --secondary-foreground: 0 0% 0%;
  --muted: 183.2 30% 95%;
  --muted-foreground: 221.2 5% 40%;
  --accent: 183.2 30% 90%;
  --accent-foreground: 221.2 5% 15%;
  --destructive: 0 58% 50%;
  --destructive-foreground: 221.2 5% 97%;
  --border: 221.2 30% 82%;
  --input: 221.2 30% 50%;
  --ring: 221.2 83.2% 53.3%;
  --radius: 0.5rem;
}
.dark {
  --background: 221.2 50% 10%;
  --foreground: 221.2 5% 97%;
  --card: 221.2 50% 10%;
  --card-foreground: 221.2 5% 97%;
  --popover: 221.2 50% 5%;
  --popover-foreground: 221.2 5% 97%;
  --primary: 221.2 83.2% 53.3%;
  --primary-foreground: 0 0% 100%;
  --secondary: 221.2 30% 20%;
  --secondary-foreground: 0 0% 100%;
  --muted: 183.2 30% 25%;
  --muted-foreground: 221.2 5% 65%;
  --accent: 183.2 30% 25%;
  --accent-foreground: 221.2 5% 95%;
  --destructive: 0 58% 50%;
  --destructive-foreground: 221.2 5% 97%;
  --border: 221.2 30% 50%;
  --input: 221.2 30% 50%;
  --ring: 221.2 83.2% 53.3%;
  --radius: 0.5rem;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  direction: rtl;
  font-family: "Tajawal", sans-serif;
  /* background-color: #f9f9f9; */
}

.backgroundColor {
  background-image: linear-gradient(
    to top,
    #03335c,
    #013968,
    #003f74,
    #004680,
    #004c8d,
    #004c8d,
    #004c8d,
    #004c8d,
    #004680,
    #003f74,
    #013968,
    #03335c
  );
}
.backgroundText {
  background: -webkit-linear-gradient(rgb(38 38 38), #2563eb);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.background {
  background: url(/assets/background.png) no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.start-btn:hover .button-svg {
  transform: translateX(-6px);
  transition: all 0.2s ease;
}
